*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
.classpath
.project
.settings/
tools/1.0.0_2022-12-06_10-23-33_282.hprof.crop.hprof
koom-demo/SharedCpp/release/koom-demo-SharedCpp-release.apk
koom-demo/SharedCpp/release/koom-demo-SharedCpp-release.aab
